/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    font-family: "Times New Roman", Times, serif;
    background-color: #F8F9FA;
}

/* Navigation Bar */
nav{
    background-color: #f7efd2 ;
    padding: 0 2%;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

/* Navigation List */
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 70px;
    margin: 0;
    padding 0;
}


/* Logo */
nav h1 {
    margin-right: auto;
    font-size: 1.7rem;
}

/* Links */
nav li {
    margin-left: 25px;
}


nav a{
    text-decoration: none;
    color: #475c6c;
    font-size: 1.2rem;
    font-weight: 500;
}

/* Hover Effect */
nav a:hover{
    background-color: rgb(255, 255, 255);
    color: #484e0f;
}

/* Interactable Design */
@media(max-width:768px){

    nav ul{
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        padding: 20px 0;
    }

    nav li{
        width: 100%;
        margin: 8px 0;
    }

    nav li:first-child{
        margin-bottom: 15px;
    }

    nav a{
        display: block;
        width: 100%;
        padding: 12px 20px;
    }
}

/* MAIN CONTAINER */
.container {
    display: flex;
    gap: 10px;
    width: 90%;
}

/* LEFT SIDE */
.main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* BOX 1 AND BOX 2 */
.box1,
.box2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 110px;
    padding: 30px;
    border-radius: 20px;
}

/* BOX 1 */
.box1 {
    background-color: #fff8eb;
}

/* LEARN MORE BUTTON */
.learn-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eed7a1 ;
    color: #000000;
    text-decoration: underline;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 25px;
}

/* BOX 2 */
.box2 {
    background-color: #fff8eb;
}

/* MORE BUTTON */
.More-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eed7a1 ;
    color: #000000;
    text-decoration: underline;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 25px;
}

/* TEXT INSIDE BOXES */
.box1 .text,
.box2 .text {
    width: 50%;
    font-size: 25px;
}

/* IMAGES */
.box1 img,
.box2 img {
    width: 37%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

/* SIDEBAR */
.sidebar {
    width: 30%;
}

/* SIDEBAR BOXES */
.sidebox {
    padding: 30px;
    margin-bottom: 90px;
    border-radius: 20px;
    background-color: #e8e8ed;
}

/* SIDEBAR TEXT */
.sidebox h3 {
    font-size: 32px;
}

.sidebox p {
    font-size: 20px;
}


/* FOOTER */
.footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #f7efd2;
    border-radius: 8px;
    font-size: 20px;
}

.footer div {
    width: 25%;
    padding: 30px;
}

/* ABOUT PAGE */

/* ABOUT PAGE HEADING */

.about-title {
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.about-title h1 {
    font-size: 45px;
    color: #333;
}


/* ABOUT IMAGE */
.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-image img {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 375px;
    object-fit: cover;
    border-radius: 20px;  
}


/* ABOUT THREE BOXES */
.about-info {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    gap: 20px;
}

.info-box {
    width: 33%;
    height: 350px
    padding: 20px;
    background-color: #f7efd2;
    text-align: center;

}

/* ABOUT FOUR BOXES */

.about-features {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    gap: 100px;
}

.feature-box {
    width: 25%;
    padding: 10px;
    background-color: #f7efd2;
    text-align: center;
}


/* TIPS TITLE */
.tips-title {
    text-align: center;
    padding: 20px;
    margin: 40px;
    font-size: 65px;
}

/* TIPS BOX */

.tips-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7efd2;
    padding: 30px;
    margin: 40px;
    border-radius: 8px;
}

.tips-text {
    width: 55%;
    font-size: 18px;
    line-height: 1.5;
}

.tips-text h2 {
    margin-bottom: 15px;
}

.tips-text p {
    margin-bottom: 20px;
}

/* Tips Learn more button */

.tips-learn-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eed7a1;
    color: #000000;
    text-decoration: underline;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 25px;
}

/* IMAGE */

.tips-image {
    width: 30%;
}

.tips-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}


/* FOUR TIPS BOXES */

.tips-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 40px;
}

.tips-icon {
    font-size: 45px;

    margin-bottom: 15px;
}

.tips-box {
    background-color: #f7efd2;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

.tips-box h2 {
    margin-bottom: 15px;
}

.tips-box p {
    font-size: 18px;
    line-height: 1.5;
}

/* Myth vs. Fact */

.myth-fact {
    text-align: center;
    background-color: #f7efd2;
    padding: 40px;
    margin: 40px;
    border-radius: 8px;
}

.myth-fact h1 {
    margin-bottom: 30px;
}

.myth {
    display: inline-block;
    text-align: left;
    padding: 20px;
    width: 40%;
    font-size: 18px;
    vertical-align: top;
}
.fact {
    display: inline-block;
    text-align: left;
    padding: 20px;
    width: 40%;
    font-size: 18px;
    vertical-align: top;
}

.myth-icon,
.fact-icon {
    font-size: 35px;
    margin-right: 15px;
    float: left;
}

.myth-fact p {
    margin-top: 15px;
    line-height: 1.5;
}